body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 500%; /* Ajustado para incluir o vídeo */
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%; /* Ajustado para 5 slides */
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Alterado para 'contain' para manter a proporção */
}

.slide video {
  width: 100%;
  height: auto;
}

.manual-navigation {
  position: absolute;
  bottom: 10px; /* Ajusta a distância dos botões a partir do fundo da tela */
  width: 100%;
  display: none;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  margin: 0 5px; /* Adiciona um espaçamento entre os botões */
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}
